<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_login"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rentaka"
        tools:targetApi="31">
        <activity
            android:name=".activities.ConfirmChooseDateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConfirmRentalActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activities.EditCarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerifyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListCarSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotThePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChooseDateActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CreateCarActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ChooseLocationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".fragments.HaveADriverFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.SelfDrivingCarFragment"
            android:exported="false" />
        <activity
            android:name=".activities.FavoriteCarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangeThePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DrivingLicenseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyCarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.test2"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"></activity>

        <activity
            android:name=".activities.CheckLoginActivity"
            android:exported="true"
            android:label="Rentaka"
            android:theme="@style/Theme.Rentaka">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RentalDetailActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activities.RequiredRentalActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.ConfirmRentalByOwnerActivity"
            android:exported="true">
        </activity>

        <service android:name=".services.SMSHandlingService" />

        <receiver
            android:name=".receivers.SMSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>